{% extends "G_Estagios/_base.html" %}
{% block content %}

{% if user.is_Coordenador_Curso == True or user.is_superuser == 1%}

<form class="max-w-md mx-auto" method="post" action='{% url "criar_estagio" %}'>
  {% csrf_token %}
  <h2>Criar Estagio</h2>
  
  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Aluno</label>
  <select id="countries" name ='AL' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value=""selected disabled>Aluno</option>
    {% for aluno in alunos %}
    <option value="{{aluno.id}}">{{aluno.username}}</option>
    {% endfor %}
  </select>

  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Coordenador</label>
  <select id="countries" name='CC' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value=""selected disabled>Coordenador</option>
    {% for aluno in ccs %}
    <option value="{{aluno.id}}">{{aluno.username}}</option>
    {% endfor %}
  </select>
  
  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tutor de estágio IPVC</label>
  <select id="countries" name='TE' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value=""selected disabled>Tutor de Estagio</option>
    {% for aluno in TTS %}
    <option value="{{aluno.id}}">{{aluno.username}}</option>
    {% endfor %}
  </select>
  
  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Empresa</label>
  <select id="countries" name='EMP' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value=""selected disabled>Empresa</option>
    {% for aluno in emp %}
    <option value="{{aluno.id}}">{{aluno.nome}}</option>
    {% endfor %}
  </select>

  <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Curso</label>
  <select id="countries" name='curso' class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option value=""selected disabled>Curso</option>
    {% for aluno in curso %}
    <option value="{{aluno.id}}">{{aluno.nome_curso}}</option>
    {% endfor %}
  </select>

  <label for="horas_totais" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Horas Totais</label>
  <input type="number" id="horas_totais" name="HT" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Informe as horas totais" required>
  <button type="submit" class="text-blue bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    id
                </th>
                <th scope="col" class="px-6 py-3">
                    Nome
                </th>
                <th scope="col" class="px-6 py-3">
                    Localizacao
                </th>
            </tr>
        </thead>
        <tbody>
            {% for estagio in estagios %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{estagio.id}}
                </th>
                <td class="px-6 py-4">
                    {{estagio.id_aluno}}
                </td>
                <td class="px-6 py-4">
                    {{estagio.id_cordenador_curso}}
                </td>
                <td class="px-6 py-4">
                  {{estagio.id_tutor_estagio_escolar}}
                </td>
                <td class="px-6 py-4">
                  {{estagio.id_Empresa}}
                </td>
                <td class="px-6 py-4">
                  {{estagio.id_curso}}
                </td>
                <td class="px-6 py-4">
                  {{estagio.horas_totais}}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url "excluir_estagio" estagio.id %}" class="text-blue-600 hover:underline">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

{% endif %}
{%if user.privilegio == 'Aluno' %}
{% if estagio %}
<h1>O meu estagio</h1>
<form class="max-w-sm mx-auto">
  <div class="mb-5">
      <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email do Aluno</label>
      <input type="text" value='{{estagio.id_aluno}}' disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  </div>
  <div class="mb-5">
    <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome da Empresa</label>
    <input type="text" value='{{estagio.id_Empresa}}' disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
<div class="mb-5">
  <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email do Coordenador de Curso</label>
  <input type="text" value='{{estagio.id_cordenador_curso}}'  disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
<div class="mb-5">
  <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email do Tutor de Estagio(IPVC)</label>
  <input type="text" value='{{estagio.id_tutor_estagio_escolar}}' disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
<div class="mb-5">
  <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ano Letivo</label>
  <input type="text" value='{{estagio.Ano_Letivo}}' disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
<div class="mb-5">
  <label for="base-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Horas Totais</label>
  <input type="text" value='{{estagio.horas_totais}}' disabled id="base-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
</div>
</form>

{% else %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">Ainda Sem Estágio</h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Contacta o teu Coordenador de Curso</p>
      </div>   
  </div>
</section>
{% endif %}
{%endif%}
{% endblock content %}
