<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="container mt-3">
        <div class="row">
            <aside class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">Nome</li>
                    <li class="list-group-item">Curso</li>
                    <li class="list-group-item">Faculdade</li>
                    <li class="list-group-item">Ano</li>
                    
                </ul>
            </aside>
            <section class="col-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome do Cliente</th>
                            <th>Nome do Empregado</th>
                            <th>Número da Fatura</th>
                            <th>Data de Entrada</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cliente 1</td>
                            <td>Empregado 1</td>
                            <td>12345</td>
                            <td>01/01/2023</td>
                            <td>Ativo</td>
                        </tr>
                        
                    </tbody>
                </table>
            </section>
        </div>
    </main>
</body>
</html>