<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD com Bootstrap e Django</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-4">
        <h2>Adicionar Curso</h2>
        <form id="form">
            <div class="form-row align-items-end"> <!-- Adicionada a classe align-items-end -->
                <div class="col-md-4 mb-3">
                    <label for="Curso">Curso</label>
                    <input type="text" class="form-control" id="Curso" placeholder="Curso" required>
                </div>
                <div class="col-md-4 mb-3">
                    <select name="" id="">
                        <option value="" disabled>Seleciona a Escola</option>        
                    </select>
                    
                    {%for polo in polos%}
                        <option value={{escola.id}}>{{escola.nome}}</option>
                    {%endfor%%}
                </div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-primary" type="submit">Adicionar</button>
                </div>
            </div>
        </form>

        <div class="container mt-4">
            <h2>Adicionar escola</h2>
            <form id="form">
                    <div class="col-md-4 mb-3">
                        <label for="Faculdade">Faculdade</label>
                        <input type="text" class="form-control" id="Faculdade" placeholder="Faculdade" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button class="btn btn-primary" type="submit">Adicionar</button>
                    </div>
                </div>
            </form>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Faculdade</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- Itens serão adicionados aqui dinamicamente pelo Django -->
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
