<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <title>IPVC</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  
  {% include 'G_Estagios/nav.html'%}
  {%if user.is_Coordenador_Curso == 1%}
    <main class="container mt-3">
        <div class="row">
            <aside class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">Item 1</li>
                    <li class="list-group-item">Item 2</li>
                    <li class="list-group-item">Item 3</li>
                    <!-- Adicione mais itens conforme necessário -->
                </ul>
            </aside>
            <section class="col-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome do Aluno</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for aluno in alunos %}
                        <tr>
                            <td>{{aluno.first_name}}</td>
                            <td>{{aluno.email}}</td>
                        </tr>
                        {%endfor%}
                        <!-- Adicione mais linhas conforme necessário -->
                    </tbody>
                </table>
            </section>
        </div>
    </main>
    {%endif%}
    {%else%}
    
    {%endif%}
    {%include 'G_Estagios/footer.html'%}
</body>
</html>