{% extends 'G_Estagios/_base.html'%} 
{%block content%} 
{% load static %}


{% if user.is_Coordenador_Curso == True %}
<div class="relative overflow-x-auto flex items-center justify-center">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Aluno
              </th>
              <th scope="col" class="px-6 py-3">
                  Empresa
              </th>
              <th scope="col" class="px-6 py-3">
                  Horas Estagiadas
              </th>
              <th scope="col" class="px-6 py-3">
                Data de começo
            </th>
              <th scope="col" class="px-6 py-3">
                  Documentos em ordem
              </th>
          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Aluno 1
              </th>
              <td class="px-6 py-4">
                  AvatarSystems
              </td>
              <td class="px-6 py-4">
                  120
              </td>
              <td class="px-6 py-4">
                16/02/2023
            </td>
              <td class="px-6 py-4">
                <svg class="w-4 h-4" style="margin-left: 70px; text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
            </td>
            
            
          </tr>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Aluno 3
              </th>
              <td class="px-6 py-4">
                  Data Solutions
              </td>
              <td class="px-6 py-4">
                  452
              </td>
              <td class="px-6 py-4">
                14/02/2023
            </td>
              <td class="px-6 py-4">
                <svg class="w-4 h-4" style="margin-left: 70px; text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
              </td>
          </tr>
          <tr class="bg-white dark:bg-gray-800">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  Aluno 3
              </th>
              <td class="px-6 py-4">
                  OmniTech Corporation
              </td>
              <td class="px-6 py-4">
                  37
              </td>
              <td class="px-6 py-4">
                20/02/2023
            </td>
              <td class="px-6 py-4">
                <svg class="w-4 h-4" style="margin-left: 70px; text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
            </td>
          </tr>
      </tbody>
  </table>
</div>



{% endif %}

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Bem Vindo/a {{user.first_name}}</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">Esta é uma aplicação em Django, desenvolvida por 2 alunos do curso de CTeSP - Tecnologias e Programação de Sistemas da Informação</p>
            <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-4">
                <a href="https://github.com/Trabalhos-Praticos/Gestor_de_Estagios/tree/Sem_API" class="inline-flex items-center justify-center px-4 py-2.5 text-base font-medium text-center text-blue bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                    Projeto GitHub
                </a>  
            </div>
        </div>
    </div>
</section>

{%endblock content%}
