<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregar Documentos</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    {% include 'G_Estagios/nav.html'%}

    <div class="container mt-5">
        <h2 class="mb-4">Entregar Documentos</h2>
    
        <div class="row">
            
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enviar Relatório</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enviar Assiduidade</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enviar Plano de Estágio</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </div>
                </div>
            </div>
    
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Enviar Curriculum Vitae</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
