{% extends "G_Estagios/_base.html" %}
{% block content %} 
<form method='POST' class="max-w-lg mx-auto">
  {% csrf_token %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
          {{form.first_name}}
        </div>
      <div>
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apelido</label>
            {{form.last_name}}  
        </div>
    </div> 
  <div class="mb-6">
      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
        {{form.password}}  
    </div> 
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" style="background-color: #1d4ed8;">Submit</button>
</form>

{% endblock content %}
   
