<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>
    <form action="{% url "finalizar_registo" %}" class="sign-in-form" method='POST'>
        <h2 class="title">Finalizar registo</h2>
        <select name="Cursos" id="cursos">
            <option value="" disabled selected>Selecione o curso</option>
            {%for curso in cursos %}
            <option>{{curso.nome_curso}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="fn" class="btn solid" />
      </form>
</body>
</html>