<!DOCTYPE html>
{% load static %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href={% static 'css/nav.css' %}>
        <link rel="stylesheet" href='../../static/css/nav.css'>
        <!--=============== JS ===============-->

        <title>Navbar - template</title>
    </head>
    <body>
        <!--=============== HEADER ===============-->
        <header class="header">
            <nav class="nav container">
                <div class="nav__data">
                    <a href="#" class="nav__logo ml-auto">
                        <img class="logo" src="{% static 'img/Logo.png' %}">
                    </a>
    
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-menu-line nav__toggle-menu"></i>
                        <i class="ri-close-line nav__toggle-close"></i>
                    </div>
                </div>

                <!--=============== NAV MENU ===============-->
                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li>
                            <a href="{% url 'dash' %}" class="nav__link">Dashboard</a>
                        </li>

                        
                        <li>
                            <a href="{% url 'sub_docs' %}" class="nav__link">Documentos</a>
                        </li>

                      
                        <li>
                            <a href="#" class="nav__link">Alunos</a>
                        </li>

                        <li>
                            <a href="#" class="nav__link">Alertas</a>
                        </li>

                        <li>
                            <a href="#" class="nav__link">Empresas</a>
                        </li>

                        <li>
                            <a href="#" class="nav__link">Estágio</a>
                        </li>
                        {%if user.is_superuser == 1%}
                        <li>
                            <a href="{%url 'admin' %}" class="nav__link">Painel Admin</a>
                        </li>
                        {%endif%}
                        <li>
                            <a href="{% url 'logout' %}" class="nav__link"><button class="btn btn-primary" type="submit">Logout</button></a>
                        </li>
                    </ul>
                </div>           
            </nav>
       
        
        <!--=============== MAIN JS ===============-->
        <script src="../../static/js/nav.js"></script>
        <script src="{% static 'nav.js' %}"></script>
    </body>
</html>

