{%extends 'Registo_Users/base.html'%}
{% block content %}
<div class="container">
        <h1>Lista Users</h1>
        <table class="table table-bordered table-striped">
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>email</th>
                <th>Password</th>
            </tr>
            {%for user in users %}
            <tr>
            <!-- <th scope="row"></th> -->
            <td>{{user.id_users}}</td>
            <td>{{user.nome}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>  
            <td>
              <div class="d-flex justify-content">
                <a href="#"><button type="button" class="btn btn-primary me-2">Atualizar</button></a>
                <button type="button" class="btn btn-warning" data-bs-toggle="modal">Excluir</button>
              </div>
            </td>
          </tr>
          {% endfor %}
        
        
        </table>
 
      </div>
      {%endblock%}