{% extends "G_Estagios/_base.html" %}
{% block content %}

<form class="max-w-sm mx-auto">
    <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Escreva aqui o seu alerta...</label>
    <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a comment..."></textarea>
    <br>
    <button type="submit" class="flex items-center px-4 py-3 text-white rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300" style="background-color: #1d4ed8;"> Enviar </button>  
</form>
  
{% endblock content %}