{% extends "G_Estagios/_base.html" %}
{%load static%}
{% block content %}


<a href="{% url 'admin' %}">
    <button type="button" class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ml-2 mt-2" style="background-color: #1d4ed8;">
        <svg class="w-5 h-5 mr-2" style="transform: scaleX(-1);" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
        <p>Voltar</p>
    </button> 
</a>


<form class="max-w-sm mx-auto">
    <div class="mb-3">
        <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Adicionar Curso</label>
        <input type="text" id="small-input" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Curso">
    </div>
    <br>
    <div class="mb-3">
        <label for="faculdade" class="text-sm font-medium text-gray-900 dark:text-white">Escolhe a faculdade</label>
        <select id="faculdade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected disabled>Faculdade</option>
            <option value="ESTG">Escola Superior de Tecnologia e Gestão</option>
            <option value="ESS">Escola Superior de Saúde</option>
            <option value="ESE">Escola Superior de Educação</option>
            <option value="ESA">Escola Superior Agrária</option>
            <option value="ESCE">Escola Superior de Ciências Empresariais</option>
            <option value="ESDL">Escola Superior de Desporto e Lazer</option>
        </select>
    </div>

    <div class="flex justify-center">
        <button type="submit" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-4 w-full" style="background-color: #1d4ed8;">
            Adicionar
        </button>
    </div>
</form>

<br>

<form class="max-w-sm mx-auto">

    <div class="mb-3">
        <label for="small-input" class="text-sm font-medium text-gray-900 dark:text-white">Adicionar Faculdade</label>
        <input type="text" id="small-input" class="w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Faculdade">
    </div>


    <div class="flex justify-center">
        <button type="submit" class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-4 w-full" style="background-color: #1d4ed8;">
            Adicionar
        </button>
    </div>
</form>








    <div class="container mt-4">
        {% if messages %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for message in messages %}
                <div class="" role="alert">
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    
        <h2>Adicionar Curso</h2>
        <form id="form" action="{% url 'criar_curso' %}" method="POST">
            {% csrf_token %}
            <div class="form-row align-items-end">
                <div class="col-md-4 mb-3">
                    <input type="text" class="form-control" id="Curso" placeholder="Curso" name='nome' required>
                </div>
                <div class="col-md-4 mb-3">
                    <select name="polo" class="col mb-2">
                        <option value="" disabled selected>Selecione a Faculdade</option>
                        {% for polo in Polos %}
                        <option value="{{ polo.id }}">{{ polo.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-primary" type="submit">Adicionar</button>
                </div>
            </div>
        </form>
    
        <h2>Adicionar Faculdade</h2>
        <form id="form" action="{% url 'criar_polo' %}" method="POST">
            {% csrf_token %}
            <div class="form-row text-center">
                <div class="col-md-4 mb-3">
                    
                    <input type="text" name="nome" class="form-control" id="Faculdade" placeholder="Faculdade" required>
                </div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-primary" type="submit">Adicionar</button>
                </div>
            </div>
        </form>
        
    
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Curso</th>
                    <th>Faculdade</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for curso in cursos %}
                <tr>
                    <td>{{ curso.nome_curso }}</td>
                    <td>{{ curso.Polo }}</td>
    
                    <td>
                        <form method="post" action="{% url 'eliminar_curso' curso.id %}">
                            {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'editar_curso' curso.id %}">Editar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Faculdade</th>
                </tr>
            </thead>
            <tbody id="table-body">
                {% for polo in Polos %}
                <tr>
                    <td>{{ polo.nome }}</td>
                    <td>
                        <form method="post" action="{% url 'eliminar_polo' polo.id %}">
                            {% csrf_token %}
                            <button type="submit">Eliminar</button>
                        </form>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}