<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Gestão de documentos</title>
</head>
<body>
    {% include "G_Estagios/nav.html" %}

    <div class="container">

    {% if messages %}
          <div class="row justify-content-center">
              <div class="col-md-6">
                  {% for message in messages %}
                      <div class="alert alert" role="alert">
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                      </div>
                  {% endfor %}
              </div>
          </div>
      {% endif %}
      
        <h2>Curriculo Vitae</h2>
    
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{%url 'Upload_Assiduidade'%}"> <!--Mudar caminho-->
                            {% csrf_token %}
                        <h5 class="card-title">Enviar Curriculo Vitae</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" name ='arquivo' class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </form>
                </div>
            </div>
        </div>
        
            <h3>Lista de CV's</h3>
        
            <div class="d-flex justify-content-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">id_Aluno</th>
                        <th scope="col">Ficheiro</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for protocolo in protocolos %}
                    <tr>
                        <th scope="row">{{protocolo.id}}</th> <!--Mudar caminhos-->
                        <td>{{protocolo.data}}</td>
                        <td>{{protocolo.id_aluno}}</td>
                        <td>{{protocolo.file}}</td>  
                    </tr>
                    {%endfor%}
                    </tbody>
                    
                </table>
            </div>


      
        <h2>Plano de Estágio</h2>
    
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{%url 'Upload_Assiduidade'%}"> <!--Mudar caminho-->
                            {% csrf_token %}
                        <h5 class="card-title">Enviar Plano de Estágio</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" name ='arquivo' class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </form>
                </div>
            </div>
        </div>
        
            <h3>Lista de Planos de Estágio</h3>
        
            <div class="d-flex justify-content-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Data</th>
                        <th scope="col">id_Aluno</th>
                        <th scope="col">Ficheiro</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for protocolo in protocolos %}
                    <tr>
                        <th scope="row">{{protocolo.id}}</th> <!--Mudar caminhos-->
                        <td>{{protocolo.data}}</td>
                        <td>{{protocolo.id_aluno}}</td>
                        <td>{{protocolo.file}}</td>  
                    </tr>
                    {%endfor%}
                    </tbody>
                    
                </table>
            </div>


      
        <h2>Protocolo</h2>
    
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{%url 'Upload_Assiduidade'%}"> <!---Mudar caminho-->
                            {% csrf_token %}
                        <h5 class="card-title">Enviar Protocolo</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" name ='arquivo' class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </form>
                </div>
            </div>
        </div>
    
        <h3>Lista de Protocolos</h3>
    
        <div class="d-flex justify-content-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Data</th>
                    <th scope="col">id_Aluno</th>
                    <th scope="col">Ficheiro</th>
                </tr>
                </thead>
                <tbody>
                    {%for protocolo in protocolos %}
                <tr>
                    <th scope="row">{{protocolo.id}}</th>
                    <td>{{protocolo.data}}</td>
                    <td>{{protocolo.id_aluno}}</td>
                    <td>{{protocolo.file}}</td>  
                </tr>
                {%endfor%}
                </tbody>
                
            </table>
        </div>


    
        <h2>Assiduidade</h2>
    
        
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data" action="{%url 'Upload_Assiduidade'%}">
                            {% csrf_token %}
                        <h5 class="card-title">Enviar Assiduidade</h5>
                        <p class="card-text">Formatos suportados: PDF, Word</p>
                        <input type="file" name ='arquivo' class="form-control-file mb-3">
                        <button type="reset" class="btn btn-secondary mr-2">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Enviar Documentos</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Assuma que você está renderizando esta página no seu template Django -->



    <h3>Lista de Assiduidades</h3>

    <div class="d-flex justify-content-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Data</th>
                <th scope="col">id_Aluno</th>
                <th scope="col">Ficheiro</th>
            </tr>
            </thead>
            <tbody>
                {% for assiduidade in assiduidades %}
                <tr>
                  <td>{{ assiduidade.id }}</td>
                  <td>{{ assiduidade.data }}</td>
                  <td>{{ assiduidade.File.name }}</td>
                  <td>
                    <a href="{% url 'eliminar_assiduidade' assiduidade.id %}">Eliminar</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

</div>
    

</body>
</html>